div{
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-areas: 
    "banner banner banner"
    "nav nav search"
    "sidebar body body";
}

.banner {
    background-color: #77b88d;
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: banner;
    font-size: 100px;
    
}

.nav {
    grid-area: nav;
}

.body {
    grid-area: body;
}


